@import url('http://fonts.cdnfonts.com/css/menlo');

:root {
    --board-side: min(72vw, 72vh);
    --cell-side: min(9vw, 9vh);
    font-size: min(2vw, 2vh);
}

button, input {
    font-size: min(1.5vw, 1.5vh);
}

@media (max-aspect-ratio: 5/7) {
    :root {
        --board-side: min(96vw, 96vh);
        --cell-side: min(12vw, 12vh);
        font-size: min(3vw, 3vh);
    }

    button, input {
        font-size: min(2vw, 2vh);
    }
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #FEFEFF;
    min-height: 100vh;
}

#board {
    height: var(--board-side);
    width: var(--board-side);
}

.board-cell {
    display: flex;
    align-items: center;
    justify-content: center;

    float: left;
    height: var(--cell-side);
    width: var(--cell-side);
}

.board-cell > img {
    width: 100%;
    height: 100%;
}

.board-cell--white {
    background-color: #ebbd8d;
}

.board-cell--black {
    background-color: #9c6d54;
}

.board-cell--selected{
    background-image: url("../assets/sel.svg");
    background-size: var(--cell-side);
}

.board-cell:nth-child(1){
    border-top-left-radius: 0.5rem;
}

.board-cell:nth-child(8){
    border-top-right-radius: 0.5rem;
}

.board-cell:nth-child(57){
    border-bottom-left-radius: 0.5rem;
}

.board-cell:nth-child(64){
    border-bottom-right-radius: 0.5rem;
}

#menu {
    height: 100%;
    display: flex;
    align-items: center;
}

#menu-box {
    background: black;
    padding: 2rem;
    width: 100%;
    border-radius: 1rem;
}

h1, p, button, input {
    font-family: "Menlo", sans-serif;
    color: white;
}


.button {
    background-color: white;
    color: black;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    transition: 0.3s;
}

.menu-box--input {
    background-color: white;
    color: black;
    border: none;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    transition: 0.3s;
    width: 40%;
}

.button:hover {
    box-shadow: 0 0 1rem white;
}

.user-box {
    display: none;
    background-color: black;
    border-radius: 0.5rem;
    width: var(--board-side);
    box-sizing: border-box;
    margin: 0.3rem 0 0.3rem 0;
    padding: 0.1rem 1rem 0.1rem 1rem; 
}

.time-box {
    float: right;
}

.popup {
    display: none;
    position: absolute;
    background-color: rgb(117, 44, 254);
    padding: 0.1rem 1rem 1rem 1rem;
    border-radius: 1rem;
    width: 20vw;
    width: calc(var(--cell-side)*4);
}

#popup-promo {
    padding: 1rem 1rem 1rem 1rem;
    display: none;
    width: calc(var(--cell-side)*4);
}

.img-wrap {
    flex: 1;
    margin: 0.2rem;
}

.promo {
    padding: 0.1rem;
}